$primary: #442d7c;
$secondary: #232323;
$grey: #939393;
$dark: #343a40;
$red: #f0394d;
$gold: #ffd700;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "grey": $grey,
  "dark": $dark,
  "danger": $red,
);

@import "bootstrap";
@import url("./animation.scss");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");

html,
body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

section {
  padding-top: 45px;
  padding-bottom: 45px;
}

#resume_page {
  section {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.text-bold {
  font-weight: bold;
  &-100 {
    font-weight: 100;
  }
  &-200 {
    font-weight: 200;
  }
  &-300 {
    font-weight: 300;
  }
  &-400 {
    font-weight: 400;
  }
  &-500 {
    font-weight: 500;
  }
  &-600 {
    font-weight: 600;
  }
  &-700 {
    font-weight: 700;
  }
}

.text-footer {
  font-size: 0.8rem;
}

.social-icon {
  color: $primary;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}

.banner-hello {
  position: relative !important;
  background-size: contain !important;
  background-position: 0% 0px;
  background-repeat: no-repeat;
  padding-top: 0 !important;
  overflow: hidden;
  background-attachment: fixed !important;
  transition-duration: 0s;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  line-height: 1.5 !important;
}

#banner {
  h1 {
    font-size: 2rem;
  }
  .Typewriter {
    font-size: 0.8rem;
    padding-top: 0.5rem;
  }
  .row {
    margin: 20px;
    margin-bottom: 0 !important;
  }
}

#service {
  .card {
    border-radius: 0.5rem;
    border: 1px solid rgba($primary, 0.3);
  }
}

#experience,
#education {
  font-size: 0.9rem;
  .dot {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 9999px;
    position: absolute;
    margin-left: -1.1rem;
    margin-top: 2.4rem;
    background-color: rgba($primary, 0.5);
  }
  .row {
    border-left: 1px solid rgba($primary, 0.5);
    padding-top: 2rem;
  }
  .date {
    border: 1px solid $primary;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
  }
  .title {
    padding-top: 1rem;
  }
  .description {
    p {
      margin-bottom: 0 !important;
    }
  }
}

#certification,
#mini-project {
  a {
    text-decoration: none !important;
  }
}

#mini-project {
  p {
    padding-left: 1rem;
  }
  p::before {
    content: "";
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 9999px;
    position: absolute;
    margin-left: -1.1rem;
    margin-top: 0.25rem;
    background-color: rgba(68, 45, 124, 0.5);
  }
}

#tool {
  p {
    margin-bottom: 0 !important;
  }
  .progress-bar {
    background-color: rgba($primary, 0.5);
    cursor: pointer;
    &:hover {
      background-color: $primary;
    }
  }
}

#project {
  .card {
    height: 200px;
    img {
      height: 160px;
    }
    a {
      text-decoration: none !important;
      margin-top: 5px;
    }
  }
}

#blog {
  .blog-post {
    border: 1px solid rgba($primary, 0.5);
    transition: transform 330ms ease-in-out;
    height: 450px;
    text-decoration: none !important;
    &:hover {
      transform: scale(1.05) translateZ(0);
      border-color: $primary;
    }
    img {
      height: 280px;
    }
    h4 {
      padding: 0.5rem;
    }
  }
}

#blog-template {
  max-width: 980px;
}

pre {
  background-color: #d3d3d3;
  padding: 1rem;
  border-radius: 1rem;
  color: $secondary;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  #banner {
    h1 {
      font-size: 3.5rem;
    }
    .Typewriter {
      font-size: 0.9rem;
    }
    .row {
      margin: 80px;
    }
  }
}

@media (min-width: 992px) {
  #banner {
    h1 {
      font-size: 4.5rem;
    }
    .Typewriter {
      font-size: 1rem;
    }
    .row {
      margin: 100px;
    }
  }
  #service {
    .service-card-row {
      margin-left: 5rem;
      margin-right: 5rem;
    }
    .card {
      h3 {
        font-size: 1.3rem;
      }
    }
  }
}

@media (min-width: 1200px) {
  #banner {
    h1 {
      font-size: 6rem;
    }
    .Typewriter {
      font-size: 1.1rem;
    }
    .row {
      margin: 120px;
    }
  }
  #service {
    .service-card-row {
      margin-left: 10rem;
      margin-right: 10rem;
    }
  }
}

.printshow {
  display: none;
}

@media print {
  #resume_page {
    padding: 1rem;
    .printpagebreak {
      padding: 1rem;
      page-break-before: always;
    }
    .printhide {
      display: none;
    }
    .printshow {
      display: block !important;
    }
    .btn-print {
      display: none;
    }
    [alt="profile"] {
      max-width: 100px;
    }
    h6,
    .h6,
    h5,
    .h5,
    h4,
    .h4,
    h3,
    .h3,
    h2,
    .h2,
    h1,
    .h1,
    p,
    .p {
      margin-bottom: 0.3rem !important;
    }
  }
}

#wedding-wrapper {
  font-family: "Oswald", sans-serif;
  background-image: url(/wedding/bg.png);
  height: 100vh;
  color: white;

  #footer-content {
    animation: pulse 0.8s ease-in-out;
  }

  #rvsp-content,
  #cal-add-content {
    animation: fadeIn 1.8s;
  }

  @keyframes pulse {
    from {
      transform: translateY(-8em);
      opacity: 0.3;
    }

    to {
      transform: translateY(0em);
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0.3;
    }

    to {
      opacity: 1;
    }
  }

  .cover-container {
    max-width: 42em;
  }

  .save-the-date {
    font-family: "Pacifico", cursive;
    transform: rotate(-10deg);
    margin-bottom: 20px;
  }

  #save {
    font-size: 4rem;
    line-height: 50px;
  }

  #the-date {
    font-size: 3.5rem;
    line-height: 60px;
  }

  .hearts {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .red-heart {
    color: $red;
    position: relative;
    z-index: 3;
  }

  .white-heart {
    color: white;
    margin-left: -10px;
    position: relative;
    z-index: 2;
  }

  .red-dot {
    color: $red;
  }

  .dash {
    width: 30px;
    height: 6px;
    display: inline-block;
    border-top: solid 1px white;
  }

  .btn-rvsp:hover {
    background-color: $red !important;
    border-color: $red !important;
  }

  .modal {
    &.show {
      animation: modalFadeIn 0.8s ease-in-out;
      display: block !important;
      backdrop-filter: blur(5px);
    }
  }

  .invitation-card-wrapper {
    background-color: $red;
    padding: 1rem 0.5rem;
    color: $gold;
    .invitation-card {
      border: 1px solid $gold;
      padding: 0.5rem;

      &.zh {
        font-family: "ZCOOL KuaiLe", cursive;
      }
      &.en {
        font-family: "Pacifico", cursive;
      }

      .wedding-text {
        font-size: 2rem;
      }

      .wedding-invite {
        font-size: 1.3rem;
        line-height: 0.8;
        &.small {
          font-size: 1rem;
        }
      }

      hr {
        margin: 1rem;
      }
    }
  }

  @keyframes modalFadeIn {
    from {
      transform: translateY(-8em);
      opacity: 0.3;
    }

    to {
      transform: translateY(0em);
      opacity: 1;
    }
  }

  @media (min-width: 375px) {
    .getting-married {
      width: 78%;
    }
  }

  @media (min-width: 425px) {
    .getting-married {
      width: 68%;
    }
  }

  @media (min-width: 468px) {
    .getting-married {
      width: 58%;
    }
  }

  @media (min-width: 520px) {
    .getting-married {
      width: 48%;
    }
  }
}
